/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
h1 {
  color: rgb(88, 116, 86);
  font-weight: 700;
}
h2 {
  color: var(--font-color);
  font-weight: 700;
}
.theme-light {
    --color-primary: rgb(151, 226, 157);      
    --color-secondary: rgb(255, 255, 255);
    --color-accent: rgb(151, 206, 189);
    --color-accent2: rgb(37, 112, 87);
    --font-color: rgb(76, 145, 110);
    --shadow-color: #f6f6f6;
    --greyscale: 0%;
    --a1: #ffeead;
    --a2:#C5E7D7;
    --a3: #88d8b0;
    --a4: rgb(152, 219, 197);
    --a5: rgb(16, 32, 17);
}

.theme-dark {
    --color-primary: #5a6575;
    --color-secondary: #64808d;
    --color-accent: #4b6368;
    --color-accent2: rgb(18, 44, 36);
    --font-color: #1d2941;
    --shadow-color:#3b4252;
    --greyscale: 50%;
    --greyscale2: 80%;
    --a1: #3f444e;
    --a2: #bbe1f7;
    --a3: #36363b;
    --a4: rgb(138, 203, 207);
    --a5: rgb(16, 14, 34);
}

#anim-on {
    --v1: url(https://i.imgur.com/uYjnk8N.png);
    --v2: url(https://i.imgur.com/iAGD6MA.png);
    --v3: url(https://i.imgur.com/hIJDjbg.png);
    --h1: visible;
    --h2: Gradient 35s ease infinite;
}

#anim-off {
    --v1: none;
    --v2: none;
    --v3: none;
    --h1: hidden;
    --h2: Gradient 0s ease infinite;
    
}

.myCustomModalClass .modal-dialog {
  max-width: fit-content;
}
