
<div class="main">
  <div class = "border">
    <div class = "inner-cutout"> 
      <h1 class="knockout">Welcome to <br> RoffelStorm! </h1>
      <p class="knockout2">This FrontEnd is a Single Page Web Application built with Angular, the backend is created and packaged with  Springboot and Maven.<br> <br> Sign up to create your own profile space where you can write posts and upload content. <br> You can also tag the public wall if you want.</p>
    </div>
  </div>
</div>
<div class="glitch"></div>

  
  